# Use postgres/example user/password credentials
version: '3.1'

services:

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: placeholder
      POSTGRES_PASSWORD: placeholder
      POSTGRES_DB: placeholder
    ports:
      - "5432:5432"
